<br />
<br />
<p><a href="http://mariage.claireetmichel.com/en-images">Retour aux albums</a></p>
<object width="485" height="364"> <param name="flashvars" value="offsite=true&lang=en-us&page_show_url=%2Fphotos%2F42743095%40N07%2Fshow%2F&page_show_back_url=%2Fphotos%2F42743095%40N07%2F&user_id=42743095@N07&jump_to="></param> <param name="movie" value="http://www.flickr.com/apps/slideshow/show.swf?v=71649"></param> <param name="allowFullScreen" value="true"></param><embed type="application/x-shockwave-flash" src="http://www.flickr.com/apps/slideshow/show.swf?v=71649" allowFullScreen="true" flashvars="offsite=true&lang=en-us&page_show_url=%2Fphotos%2F42743095%40N07%2Fshow%2F&page_show_back_url=%2Fphotos%2F42743095%40N07%2F&user_id=42743095@N07&jump_to=" width="485" height="364"></embed></object><br />

<p><a href="http://mariage.claireetmichel.com/en-images">Retour aux albums</a></p>
<br />
<table style="width:194px;"><tr><td align="center" style="height:194px;background:url(http://picasaweb.google.com/s/c/transparent_album_background.gif) no-repeat left"><a href="http://picasaweb.google.com/akkaouim/BalladeEnRaquette?feat=embedwebsite"><img src="http://lh5.ggpht.com/_AOgXNo3Xr_4/S4LI2yJYEBE/AAAAAAAAA04/VuoSqVeXk88/s160-c/BalladeEnRaquette.jpg" width="160" height="160" style="margin:1px 0 0 4px;"></a></td></tr><tr><td style="text-align:center;font-family:arial,sans-serif;font-size:11px"><a href="http://picasaweb.google.com/akkaouim/BalladeEnRaquette?feat=embedwebsite" style="color:#4D4D4D;font-weight:bold;text-decoration:none;">Ballade en raquette</a></td></tr></table>