<h2>Faire un cadeau</h2>

<p>Notre plus grand cadeau, c'est de vous rassembler pour ce jour de fête !</p>

<p>Si vous avez envie de nous faire un cadeau en plus de votre présence précieuse, nous avons rassemblé quelques idées et envies sur <a href="http://liste/claireetmichel.com/prestashop/">ce site </a>sous la forme d'une liste de mariage.</p>

<p>Une boîte sera également à votre disposition sur le lieu du mariage afin de recueillir vos dons.</p>