<h2>Faire un cadeau</h2>

<p>Notre plus grand cadeau, c'est de vous rassembler pour ce jour de fête !</p>

<p>Si vous avez envie de nous faire un cadeau en plus de votre présence précieuse, nous avons rassemblé quelques idées et envies sur ce site sous la forme d'une liste de mariage.</p>