<h2>Chers amis !</h2>

<p>Nous nous engageons sur le chemin du mariage, et nous voulons vous associer à notre joie. Ce site vous permettra de retrouver toutes les informations utiles, comme le transport et l'hébergement, et nous y ajouterons au fil du temps les petites merveilles que nous recevrons : photos, chants, autres...</p>

<p>Nous vous donnons donc rendez-vous <span class='emphase'>le samedi 24 juillet à 11h à l'église St Aubin des Ponts de Cé</span>. Oui, ça à l'air un peu tôt, mais nous avons choisi de sacrifier la grasse matinée pour profiter avec vous de cette belle journée.</p>

<p>Sachez que si il fait beau (et il va faire beau !) <span class="emphase">la célébration se fera dans le parc du Château !</span> Alors rendez-vous tous à 11h directement dans le parc du Chateau de Belle Poule. Pour ceux qui prévoyaient d'arriver à l'église en bus, pas de souci, la salle est au bout du chemin à trois kilomètres de l'église (cf. cartes sur le site internet). Il y aura pas mal de traffic sur la levée de Belle Poule, vous pourrez faire du stop sans problème le samedi matin.</p>

<p>A la suite de la célébration, nous partagerons un déjeuner sur l'herbe dans le parc du château de Belle-Poule. Nous demandons à chacun d'apporter selon ses possibilités un plat salé (salade composée, quiche, cake...), un plat sucré (gâteau, tarte, fruits...), ou encore un plateau de fromage à partager. Pour nous aider à organiser ce repas, merci de nous dire <a href="http://mariage.claireetmichel.com/questionnaire">ici le type de plat que vous apporterez.</a></p>

<p>L'après midi se fera au rythme de vos envies : jeux, ballades en bord de scène, balades en bord de Loire, plantage de tentes, sieste... L'idée est de profiter d'être ensemble pour se rencontrer !</p>

<p>Nous referons la fête le soir, où chacun pourra nous rejoindre à partir de 23h et jusqu'au bout de la nuit !!!!</p>

<p class="emphase center">Claire de Sousa et Michel Akkaoui <br />
	14, rue Taine - Appt 23 - 75012 Paris - 09 54 48 15 69<br />
	<a href="mailto:ds.claire@gmail.com">ds.claire@gmail.com</a> - <a href="mailto:akkaouim@gmail.com">akkaouim@gmail.com</a></p>
