<h2>Nous rejoindre</h2>

<p>Nous avons décidé de faire simple, tout se passera sur la même commune !</p>

<p>L'église Saint Aubin où nous célébrerons notre engagement se trouve à 3km du château de Belle Poule où nous passerons la journée. Il est possible de se garer à la salle et de rejoindre l'église par la levée de Belle Poule à pied. Ca fait une belle ballade sur les bords de Loire d'environ 25min et c'est tout droit !</p>
 
<h2>Transport en commun</h2>
<p>La gare d'Angers St Laud est très bien desservie. N'hésitez pas àvenir en train ! Si vous optez pour ce mode de transport, le bus n°8 vous amène directement jusqu'à l'église St Aubin (arrêt Belle Poule) du lundi au samedi. Vous trouverez les horaires <a href="/horaires.pdf">ici</a>. Pour le dimanche, les numéros changent et c'est la ligne n°26 qui remplace la n°8. Les horaires de cette ligne sont <a href="/horaires26.pdf">ici</a>. Si vous ne trouvez pas l'arrêt Belle Poule sur les horaires, l'arrêt juste à coté est Marie des Ponts de Cé.</p>
<p class="ps">Les horaires actuellement fournis par la Cotra sont ceux d'hiver. Les horaires d'été sont en cours d'amménagements, mais ne devraient pas être différents pour le samedi et le dimanche... Actualisation prévue fin mai.</p>

<h2>Co-voiturage</h2>
<p>Si vous arrivez en voiture, pensez à proposer les places qu'il vous reste pour faire du co-voiturage. De même, si vous chercher un covoiturage, regarder s'il n'y en a pas un qui vous convient, et à défaut, remplissez le tableau avec votre recherche... <a href="https://spreadsheets.google.com/ccc?key=ttQjeK72IHYCCyhZAwhfh5Q&hl=fr">Le tableau en question est ici</a>.</p>
<p>Voici un récapitulatif des offres et des demandes en cours. Pour voir les coordonnées des covoitureurs, cliquez sur le lien précédent.</p>
<iframe width='480' height='350' frameborder='0' src='http://spreadsheets.google.com/pub?key=ttQjeK72IHYCCyhZAwhfh5Q&single=true&gid=0&range=B1%3AG10&output=html&widget=true'></iframe>
<p>A noter que la levée de Belle Poule est une voie pour riverains, certains panneaux vous empêcheront donc de passer. Faites-en fi, pour ce jour, vous en êtes ! Pour se donner une idée, Les Ponts de Cé sont à un gros quart d'heure du centre ville d'Angers.</p>

<h2>Autres</h2>
<p>Si vous arrivez en hélicoptère ou en jet privé... DON'T !! C'est mauvais pour votre Karma et votre bilan carbone. Si vous tenez à le faire, n'hésitez pas à compenser <a href="http://www.co2solidaire.org/">ici</a>.</p>

<p class="emphase center">Château de Belle Poule<br />
49130 Les Ponts de Cé<br />
GPS : 47° 25' 19" N - 0° 29' 42" O</p>

<p class="emphase center">Eglise St Aubin<br />
65, rue Victor Hugo<br />
49130 Les Ponts de Cé<br />
GPS : 47° 25' 48" N - 0° 31' 40" O </p>

<iframe width="485" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.fr/maps/ms?ie=UTF8&amp;hl=fr&amp;msa=0&amp;msid=100943581267131613260.0004740449bc17cbf2b14&amp;ll=47.426238,-0.511319&amp;spn=0.006723,0.032066&amp;output=embed"></iframe><br />
<p><small>Afficher <a href="http://maps.google.fr/maps/ms?ie=UTF8&amp;hl=fr&amp;msa=0&amp;msid=100943581267131613260.0004740449bc17cbf2b14&amp;ll=47.426238,-0.511319&amp;spn=0.006723,0.032066&amp;source=embed" style="color:#0000FF;text-align:left">Chateau De Belle Poule</a> sur une carte plus grande</small></p>

