<h2>En images</h2>

<p>Voici quelques images de temps forts que nous avons vécus.</p>

<ul class="housing">
	<li>
		<span class='emphase'><a href="#" onclick="toggle_diapo('diapo1'); return false;">Quelques photos de notre temps de fiançailles...</a></span><br />
		Un temps pour grandir... à deux !<br /></li>
		<div class="diapos" id="diapo1" style="display:none;">
			<object width="485" height="364"> <param name="flashvars" value="offsite=true&lang=en-us&page_show_url=%2Fphotos%2F42743095%40N07%2Fshow%2F&page_show_back_url=%2Fphotos%2F42743095%40N07%2F&user_id=42743095@N07&jump_to="></param> <param name="movie" value="http://www.flickr.com/apps/slideshow/show.swf?v=71649"></param> <param name="allowFullScreen" value="true"></param><embed type="application/x-shockwave-flash" src="http://www.flickr.com/apps/slideshow/show.swf?v=71649" allowFullScreen="true" flashvars="offsite=true&lang=en-us&page_show_url=%2Fphotos%2F42743095%40N07%2Fshow%2F&page_show_back_url=%2Fphotos%2F42743095%40N07%2F&user_id=42743095@N07&jump_to=" width="485" height="364"></embed></object>
		</div>
	</li>
	<li>
		<span class='emphase'><a href="#" onclick="toggle_diapo('diapo2'); return false;">Mariage civil</a></span><br />
		Le 12 juin dernier à la mairie du 12ème à Paris<br /></li>
		<div class="diapos" id="diapo2" style="display:none;">
			<object width="485" height="364"> <param name="flashvars" value="offsite=true&lang=en-us&page_show_url=%2Fphotos%2F42743095%40N07%2Fsets%2F72157624164193835%2Fshow%2F&page_show_back_url=%2Fphotos%2F42743095%40N07%2Fsets%2F72157624164193835%2F&set_id=72157624164193835&jump_to="></param> <param name="movie" value="http://www.flickr.com/apps/slideshow/show.swf?v=71649"></param> <param name="allowFullScreen" value="true"></param><embed type="application/x-shockwave-flash" src="http://www.flickr.com/apps/slideshow/show.swf?v=71649" allowFullScreen="true" flashvars="offsite=true&lang=en-us&page_show_url=%2Fphotos%2F42743095%40N07%2Fsets%2F72157624164193835%2Fshow%2F&page_show_back_url=%2Fphotos%2F42743095%40N07%2Fsets%2F72157624164193835%2F&set_id=72157624164193835&jump_to=" width="485" height="364"></embed></object>
		</div>
	</li>
	<li>
		<span class='emphase'><a href="#">LiveStream du mariage !</a></span><br />
Bientôt disponible, le samedi 24 Juillet 2010 vers 11H.<br />
		<a href="http://livestream.com/mariageclaireetmichel">Pour voir la page de la vidéo directement, cliquez ici.</a></li>
		<div class="diapos" id="diapo3">
		<div>
			<object width="485" height="340" id="lsplayer" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"><param name="movie" value="http://cdn.livestream.com/grid/LSPlayer.swf?channel=mariageclaireetmichel&amp;autoPlay=false"></param><param name="allowScriptAccess" value="always"></param><param name="allowFullScreen" value="true"></param><embed name="lsplayer" wmode="transparent" src="http://cdn.livestream.com/grid/LSPlayer.swf?channel=mariageclaireetmichel&amp;autoPlay=false" width="485" height="340" allowScriptAccess="always" allowFullScreen="true" type="application/x-shockwave-flash"></embed></object><div style="font-size: 11px;padding-top:10px;text-align:center;width:560px">Watch <a href="http://www.livestream.com/?utm_source=lsplayer&utm_medium=embed&utm_campaign=footerlinks" title="live streaming video">live streaming video</a> from <a href="http://www.livestream.com/mariageclaireetmichel?utm_source=lsplayer&utm_medium=embed&utm_campaign=footerlinks" title="Watch mariageclaireetmichel at livestream.com">mariageclaireetmichel</a> at livestream.com</div>
		</div>
	</li>
</ul>

<script type='text/javascript'>
	function toggle_diapo(element_id) {
		if ($(element_id).visible()) {
			Effect.BlindUp(element_id);
		} else {
			Effect.BlindDown(element_id);
		}
	}
</script>
