<h2>En images</h2>

<p>Voici quelques images de temps forts que nous avons vécus.</p>

<ul class="housing">
	<li><span class='emphase'><a href="http://mariage.claireetmichel.com/diapo_test/">Photo de nous avant de nous engager</a></span><br />
	On était beau, hein ? dit ?<br /></li>
</ul>