<h2>En images</h2>

<p>Voici quelques images de temps forts que nous avons vécus.</p>

<ul class="housing">
	<li><span class='emphase'><a href="http://mariage.claireetmichel.com/diapo_test">Quelques photos de notre temps de fiançailles...</a></span><br />
	Un temps pour grandir... à deux !<br /></li>
</ul>