<h2>Chanter</h2>

<p>Comme beaucoup d'entre vous sont musiciens, ça nous ferait vraiment plaisir que vous N'hésitez pas à apporter vos instrument et prenez la liberté de jouer tout au long de cette journée, préparez sketch, chansons, etc... Nous adorons les surprises !</br>
Pour des questions d'organisations, veuillez adresser un mail à <a href="mailto:animation.claireetmichel@gmail.com">animation.claireetmichel@gmail.com</a>. Bien évidement, les mariés n'ont pas accès à cette adresse mail...</p>

<p>Pour préparer avec nous cette belle fête, nous aimerions vous demander trois services spéciaux pour notre mariage...</p>
 
<p>Le premier pour demander à toutes les bonnes volontés désireuses de chanter, jouer, participer à notre célébration de mariage de se mettre en contact avec <span class='emphase'>Claire Boisseau</span> ou <span class='emphase'>Simon Descamps</span>. Chaque petit grain de talent que vous apporterez sera reçu comme un vrai trésor ! </p>

<p>Le second pour vous faire part de notre souhait d'installer une scène ouverte, scène sur laquelle vous pourrez monter pour pousser la chansonnette, faire danser les gens ou chavirer les coeurs ! Pour organiser cette scène ouverte, vous pouvez prendre contact avec <span class='emphase'>Yoann Guirimand</span>. De la même façon, chaque petite pousse artistique est la bienvenue ! En passant, nous aimerions savoir si il y en avait parmi vous qui voudraient jouer une musique d'ambiance pendant le cocktail du soir (jazz, instrumental, musique de chambre, etc...) ?</p>

<p>Enfin, pour que cette fête soit aussi la votre, nous vous demandons votre aide pour la construction de la playlist de la soirée. L'idée est que, dès qu'un morceau passe, il y ait tout le temps au moins une personne pour dire aux autres : "Trop bien, j'adore ce morceau ! Allez venez, on va danser !!" Ainsi, envoyez les deux ou trois best song ever sur lesquelles vous aimeriez vous trémousser à <span class='emphase'>Bruno de Sousa</span>, et vous aurez le plaisir de l'entendre passer pendant la soirée ! Pour faciliter le travail de Bruno, envoyez-lui de préférence les morceaux en mp3. Ce n'est pas une incitation, mais pour information, Hadopi n'est pas encore là !</p>

<p>Vous trouverez bientôt ci-dessous les chants de la célébration. Faites chauffer les cordes vocales, nous voulons vous entendre !</p>
