<h2>Chanter</h2>

<p>Comme beaucoup d'entre vous sont musiciens, ça nous ferait vraiment plaisir que vous apportiez vos instrument et que vous preniez la liberté de jouer tout au long de cette journée. N'hésitez pas à préparer sketch, chansons, etc... Nous adorons les surprises !</p>

<p>Vous trouverez ci-dessous les chants de la célébration. Faites chauffer les cordes vocales, nous voulons vous entendre !</p>