<h2>Où dormir ?</h2>

<p>Si vous-même habitez dans la région, et que vous avez l’envie et la place pour héberger d’autres invités, n’hésitez pas à nous le faire savoir !</p>

<p>N’oubliez pas qu’il est également possible de planter librement sa propre tente dans le champs à côté de la salle ou de venir avec son camping-car pour les plus équipés, voir même d’apporter matelas et duvet pour dormir dans la salle…. Un belle façon de combiner tous les avantages : boire pendant la fête (raisonnablement !), ne pas conduire fatigué, et économiser du carburant…</p>

<p>Mais tout de même, voici une liste non exhaustive des hébergements possibles dans la région. N'hésitez pas à rester un peu plus longtemps pour profiter de la région, les bords de Loire sont vraiment magnifiques !</p>

<ul>
	<li><span class='emphase'>Camping Hubert (500m de Belle Poule)</span><br />
		45 allée du rameau, 49130 Les ponts de Cé - 02 41 58 37 48<br />
		Un emplacement 15€ la nuit</li>

	<li><span class='emphase'>Gîte Les Humeaux (25km de Belle Poule)</span><br />
		Impasse des moineaux, 49378 Cholet - 02 43 94 48 37<br />
		45€ en chambre double</li>
</ul>