<h2>Proposer un hebergement</h2>

<p>Si vous-même habitez dans la région, et que vous avez l’envie et la place pour héberger d’autres invités, <a href="https://spreadsheets.google.com/ccc?key=0AonjcYhHfe2NdGE2TGFQS3pKVDYzbkdEcnFjWGZ1Y0E&hl=en">n’hésitez pas à le proposer ici</a> !</p>
<p>Voici un tableau récapitulatif des offres du moment. Une fois que vous vous serez mis d'accord sur un hébergement, n'oubliez pas de vous retirer du tableau en supprimant la ligne !</p>
<iframe width='485' height='300' frameborder='0' src='http://spreadsheets.google.com/pub?key=ta6LaPKzJT63nGDrqcXfucA&single=true&gid=0&output=html&widget=true'></iframe>

<h2>Planter sa tente</h2>

<p>N’oubliez pas qu’il est également possible de planter librement sa propre tente dans le champs à côté de la salle ou de venir avec son camping-car pour les plus équipés, voir même d’apporter matelas et duvet pour dormir dans la salle…. Un belle façon de combiner tous les avantages : boire pendant la fête (raisonnablement !), ne pas conduire fatigué, et économiser du carburant…</p>

<h2>Hôtels et gîtes</h2>

<p>Mais tout de même, voici une liste non exhaustive (!) des hébergements possibles dans la région. N'hésitez pas à rester un peu plus longtemps pour profiter de la région, les bords de Loire sont vraiment magnifiques ! Pour vous aider, nous avons rassemblé l'ensemble des hôtels cités ci-dessous dans une carte. Le point rouge représente le Château de Belle Poule où aura lieu le mariage, et les points bleu représentent les hôtels aux alentours. Un clique sur un point bleu vous donnera les informations de l'hôtel correspondant. La liste est classé par ordre d'éloignement (du plus proche au plus lointain). Les distances son calculées en trajet effectif en voiture.</p>

<iframe width="485" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.fr/maps/ms?ie=UTF8&amp;hl=fr&amp;msa=0&amp;msid=100943581267131613260.0004817180ecf4b438661&amp;ll=47.423434,-0.540648&amp;spn=0.162598,0.291824&amp;z=11&amp;output=embed"></iframe><br />
<p><small>Afficher <a href="http://maps.google.fr/maps/ms?ie=UTF8&amp;hl=fr&amp;msa=0&amp;msid=100943581267131613260.0004817180ecf4b438661&amp;ll=47.423434,-0.540648&amp;spn=0.162598,0.291824&amp;z=11&amp;source=embed" style="color:#0000FF;text-align:left">Hébergement mariage</a> sur une carte plus grande</small></p>

<ul class="housing">
	<li><span class='emphase'>Chateau de Belle Poule</span><br />
	En rouge, c'est le lieux du mariage.<br /></li>
	
	<li><span class='emphase'>Soulard Jean-Claude (200m de Belle Poule)</span><br />
	A 8 kms d'Angers, le gîte de l'Ile Marière, est une ancienne ferme chanvrière située en bordure de Loire, accessible par la levée de Belle Poule, interdite aux véhicules automobiles, réservée aux riverains (circuit : Loire à vélo) depuis les Ponts de Cé vers Saumur. Ce site protégé est classé NATURA 2000. Cette maison rurale, de caractère, a été construite en 1814 à la fin du 1er Empire. Elle propose 4 ch. en rez de chaussée, avec accès terrasses. Location annuelle sur le chemin d'accès (sous réserve de risque de crue à titre exceptionnel entre novembre et avril).<br />
	<br />
	Levée de Belle Poule<br />
	49130 Ponts de Cé (Les), France<br />
	02 41 47 21 64<br />
	Email : <a href="mailto:soulardjc@cegetel.net">soulardjc@cegetel.net</a><br /></li>

	<li><span class='emphase'>Le Relais de Cé (3km de Belle Poule)</span><br />
	Le Relais de Cé<br />
	18 Rue David d'Angers<br />
	49130 Ponts de Cé (Les), France<br />
	Tél : 02 41 44 87 47 <br /></li>
		
	<li><span class='emphase'>Hôtel Restaurant le Bosquet (4km de Belle Poule)</span><br />
	2 étoiles<br />
	<br />
	2 Rue Maurice Berné<br />
	49130 Ponts de Cé (Les), France<br />
	Tél : 02 41 57 72 42 <br />
	Fax : 02 41 45 92 98 <br />
	Email : <a href="mailto:hotel.le.bosquet@wanadoo.fr">hotel.le.bosquet@wanadoo.fr</a><br />
	Site internet : <a href="http://restaurantlebosquet.com">restaurantlebosquet.com</a><br /></li>
	
	<li><span class='emphase'>Les Roncières (4.7km de Belle Poule)</span><br />
	Restaurant Les Roncières<br />
	58 Avenue Gallieni<br />
	49130 Ponts de Cé (Les), France<br />
	02 41 44 03 14<br /></li>
	
	<li><span class='emphase'>Hôtel Kyriad Angers Sud - Les Ponts De Cé (4.9km de Belle Poule)</span><br />
	2 étoiles<br />
	<br />
	Allée de la Bergerie<br />
	49130 Les Ponts-de-Cé, France<br />
	Tél : 02 41 44 92 44 <br />
	Fax : 02 41 44 92 24 <br />
	Email : <a href="mailto:angers.pontsdece@kyriad.fr">angers.pontsdece@kyriad.fr</a><br />
	Site internet : <a href="http://www.kyriad-angers-sud-les-ponts-de-ce.fr/fr/index.aspx">kyriad-angers-sud-les-ponts</a><br /></li>
	
	<li><span class='emphase'>CHAMBRE D'HÔTES - FRANÇOIS XAVIER GOURDON (5.1km de Belle Poule)</span><br />
	19 rue Emmanuel Camus <br />
	49130 LES PONTS-DE-CE <br />
	Tél : 02 41 80 01 30 <br />
	Email : <a href="mailto:fxogourdon@wanadoo.fr">fxogourdon@wanadoo.fr</a><br /></li>
	
	<li><span class='emphase'>Hotel 1 Première Classe (5.7km de Belle Poule)</span><br />
	Premier Prix - Confort compris<br />
	<br />
	22 Rue Paul Pousset<br />
	49130 Les Ponts-de-Cé, France<br />
	Tél : 02 41 69 42 63 <br />
	Fax : 02 41 69 40 67 <br />
	Site internet : <a href="http://www.premiere-classe-angers-sud-les-ponts-de-ce.fr/fr/index.aspx">premiere-classe-angers-sud</a><br /></li>
	
	<li><span class='emphase'>Prim'Hôtel Bagatelle (5.7km de Belle Poule)</span><br />
	2 étoiles<br />
	<br />
	Prim'Hôtel Bagatelle<br />
	20 Rue Paul Pousset<br />
	49130 Ponts de Cé (Les), France<br />
	Tél : 02 41 69 76 97 <br />
	Fax : 02 41 69 08 00<br />
	Email : <a href="mailto:reservation@bagatellehotel.fr">reservation@bagatellehotel.fr</a><br />
	Site internet : <a href="http://bagatelle-primhotel.com">http://bagatelle-primhotel.com</a>‎<br /></li>
	
	<li><span class='emphase'>Le Relais d'Orgemont (5.7km de Belle Poule)</span><br />
	2 étoiles<br />
	A quelques minutes du centre ville, dans un environnement calme et verdoyant, Benoit et Olivier Audureau ainsi que toute l'équipe, vous accueillent toute l'année dans un cadre très confortable et chaleureux.<br />
	<br />
	8 Rue de l'Hirondelle, 49000 Angers, France<br />
	49000 Angers, France<br />
	Tél : 02 41 66 30 45 <br />
	Fax : 02 41 66 76 08 <br />
	Email : <a href="mailto:info@relais-orgemont.fr">info@relais-orgemont.fr</a><br />
	Site internet : <a href="http://relais-orgemont.fr/">http://relais-orgemont.fr/</a></li>
	
	<li><span class='emphase'>Gîte de la Garenne (5.8km de Belle Poule)</span><br />
	Gîte de France, 3 épis<br />
	Manoir du XVIè siècle restauré en 2005 dans un parc boisé de 6000m2 aménagé. Surface : 300m2 et dépendance de 60m2 avec bureau accueil, s. de réunion avec accès internet, tv, dvd, buanderie, et wc. Dans chaque Ch. : s. d'eau et wc, prise internet, téléphone. Inclus dans le tarif : draps, serviette de toilette, chauffage. RDC : Hall, cuisine équipée, salon avec cheminée et équipement audiovisuel / hifi et internet, s. à manger ouverte sur le parc, 2 Ch. de 2 lits. Aux étages : 5 Ch. de 4 lits et un dortoir de 6 lits avec ses 2 s. d'eau et wc. Suppl. taxe de séjour. Ouvert toute l'année.<br />
	<br />
	Rue des Deux Ports<br />
	49610 Mûrs-Erigné, France<br />
	Tél : 02 41 45 01 53<br />
	Email : <a href="mailto:gitelagarenne@fol49.org">gitelagarenne@fol49.org</a><br /></li>
	
	<li><span class='emphase'>Le Ponceau (5.9km de Belle Poule)</span><br />
	Gîte de France, 3 épis<br />
	Aux portes d'Angers et proche de la Loire, Olivier vous accueille et vous propose dans un cadre de verdure 2 chambres d'hôtes en rez-de-chaussée.<br />
	<br />
	4 route du Hutreau<br />
	49130 Ste Gemmes sur Loire, France<br />
	Tél : 02 41 79 20 52<br />
	Email : <a href="mailto:le.ponceau@loire-aubance.com">le.ponceau@loire-aubance.com</a><br />
	Site internet : <a href="http://loire-aubance.com">loire-aubance.com</a><br /></li>
	
	<li><span class='emphase'>M. Freulon Bernard (6km de Belle Poule)</span><br />
	200 route de la Pyramide <br />
	49130 LES PONTS-DE-CE <br />
	Tél : 02 41 66 23 25 <br />
	Email : <a href="mailto:madeleine.freulon@wanadoo.fr">madeleine.freulon@wanadoo.fr</a><br /></li>
	
	<li><span class='emphase'>TERRIERE FRANCOISE (6.2km de Belle Poule)</span><br />
	Gîte de France, 3 épis<br />
	Françoise Terrière aime sa région, et se propose de vous la faire découvrir. Elle vous recevra avec simplicité et très amicalement. Parc de la Roseraie.<br />
	<br />
	Le Jau <br />
	49610 MURS-ERIGNE <br />
	Tél : 02.41.57.70.13 <br />
	Email : <a href="mailto:le.jau@anjou-et-loire">le.jau@anjou-et-loire</a><br /></li>
	
	<li><span class='emphase'>Auberge du pont des Sorges (7km de Belle Poule)</span><br />
	23 rue Camille Perdriau <br />
	49130  LES PONTS-DE-CE <br />
	Tél : 02 41 69 02 86 <br />
	Fax : 02 41 69 18 92 <br />
	Email : <a href="mailto:aubergedupontdesorges@wanadoo.fr">aubergedupontdesorges@wanadoo.fr</a><br /></li>
	
	<li><span class='emphase'>Inn 49 (7.3km de Belle Poule)</span><br />
	Les chambres sont petites mais très confortables, fonctionnelles et bien conçues. Chambres et salles de bains sont en excellent état. Pas de restaurant. Immeuble moderne et agréable. Le lobby est petit mais moderne, accueillant et décoré agréablement. Il ouvre l'accès au bar et au coin salon. Un bon hôtel pour ceux qui préfèrent le confort sans fioritures. 52 Chambres disponibles. <br />
	<br />
	23 Bis Rue Paul Bert 49100 Angers<br />
	Angers, France<br />
	Tél : 02 41 25 48 48<br /></li>
	
	<li><span class='emphase'>Hôtel De L'Europe (7.5km de Belle Poule)</span><br />
	2 étoiles<br />
	Chambre double 1 personne 58 - 66€<br />
	Chambre double 2 personne 69 - 77€<br />
	Chambre twin (lits jumeaux) 74 - 82€<br />
	Chambre familiale 3 personnes 78 - 84€<br />
	Chambre familiale 4 personnes 89€<br />
	<br />
	3 Rue de Châteaugontier<br />
	49000 Angers, France<br />
	Tél : 02 41 88 67 45<br />
	Site internet : <a href="http://hoteldeleurope-angers.com">hoteldeleurope-angers.com</a><br /></li>
	
	<li><span class='emphase'>CHAMBRE D'HÔTES - MATHIEU CHANTAL (7.6km de Belle Poule)</span><br />
	36 rue Bourgonnier <br />
	49000 ANGERS <br />
	Tél : 0249872971 <br />
	Fax : 02 49 87 29 71 <br />
	Email : <a href="mailto:eglantine.cm@gmail.com">eglantine.cm@gmail.com</a><br /></li>
	
	<li><span class='emphase'>Hôtel Des Lices - Opus One (7.9km de Belle Poule)</span></br />
	Hôtel de charme situé près des sites historiques, de la gare et du quartier commercial. Toutes nos chambres sont équipées de douches, wc et télévision.<br />
	<br />
	25 Rue des Lices<br />
	49100 Angers, France<br />
	Tél : 02 41 87 44 10 <br />
	Fax : 02 41 36 33 45<br />
	Tél 2 : 09 77 74 57 00<br /></li>
	
	<li><span class='emphase'>Hôtel de France (8km de Belle Poule)</span><br />
	3 étoiles<br />
	Famille BOUYER depuis 1893. 55 Chambres climatisées. Salons pour séminaire.Wifi gratuit. Parking privatif. A deux pas du centre ville et du château. Deux restaurants<br />
	<br />
	8 Rue de la Gare<br />
	49100 Angers, France<br />
	Tél : 02 41 88 49 42<br />
	Fax : 02 41 87 19 50 <br />
	Email : <a href="mailto:reservation@hoteldefrance-angers.com">reservation@hoteldefrance-angers.com</a><br />
	Site internet : <a href="http://hoteldefrance-angers.com">hoteldefrance-angers.com</a><br /></li>
	
	<li><span class='emphase'>Hôtel de l'Univers (8km de Belle Poule)</span><br />
	2 étoiles<br />
	Face à la gare TGV. A deux pas du centre ville. A 5 minutes à pied du Château. Très facile d'accès depuis l'autoroute (sortie château). Accueil 24h/24h<br />
	<br />
	2 Place de la Gare<br />
	49100 Angers, France<br />
	Tél : 02 41 88 43 58<br /> 
	Fax : 02 41 86 97 28 <br />
	Email : <a href="mailto:univers@hotel-angers.net">univers@hotel-angers.net</a><br />
	Site internet : <a href="http//hotel.angers.com">hotel.angers.com</a><br /></li>
	
	<li><span class='emphase'>Hôtel Le Progrès (8km de Belle Poule)</span><br />
	2 étoiles<br />
	Au coeur de la Cité angevine, à proximité du château, l'hôtel Le Progrès vous réserve un séjour agréable et confortable. Le buffet du petit déjeuner vous séduira par sa diversité et sa fraîcheur. Toutes les chambres disposent de 25 chaînes cablées, dont Canal+, un téléphone direct et l'accès wifi gratuit. La présence d'un veilleur de nuit nous permet de vous accueillir 24/24h.<br />
	<br />
	26 Avenue Denis Papin<br />
	49100 Angers, France<br />
	Tél : 02 41 88 10 14<br /> 
	Fax : 02 41 87 82 93 <br />
	Email : <a href="mailto:hotel.leprogres@wanadoo.fr">hotel.leprogres@wanadoo.fr</a><br />
	Site internet : <a href='http://hotelleprogres.com'>hotelleprogres.com</a><br /></li>
	
	<li><span class='emphase'>Le Mermoz (8km de Belle Poule)</span><br />
	Chambres à partir de 28€<br />
	<br />
	199 Rue Eblé<br />
	49000 Angers, France<br />
	Tél. : 02 41 66 46 77<br />
	Fax : 02 41 44 68 97<br />
	Site internet : <a href="http://hotelrestaurantpmulemermoz.fr">hotelrestaurantpmulemermoz.fr</a><br /></li>
	
	<li><span class='emphase'>Marguerite D'Anjou (8.1km de Belle Poule)</span><br />
	Situé face au château et Office de Tourisme. Petit hôtel charmant au coeur des sites touristiques d'Angers.<br />
	<br />
	Tél : 02 41 88 11 61 <br />
	Fax : 02 41 87 37 61 <br />
	13 Place Du Prysident Kennedy<br />
	Angers, 49100, France<br />
	Site internet : <a href="http://hotelmargueritedanjou.com/">hotelmargueritedanjou.com</a><br /></li>
	
	<li><span class='emphase'>CHAMBRE D'HÔTES - LE HOME DU 12 BIS (8.1km de Belle Poule)</span><br />
	Chambre d'hôtes située à deux pas du château, de la gare TGV, et en plein centre ville. Idéale pour un séjour au c½ur de l'Anjou, nous vous proposons des services de grande qualité, alliant modernité et confort.<br />
	<br />
	M. et Mme Danielle Besson<br />
	12 Bis, rue Delaâge<br />
	49000 Angers, France<br />
	Tél : 06 77 88 90 97<br />
	Email : <a href="mailto:daniellebesson@numericable.fr">daniellebesson@numericable.fr</a><br /></li>
	
	<li><span class='emphase'>Hotel de Champagne (8.1km de Belle Poule)</span><br />
	2 étoiles<br />
	Situé face à la gare, à 10 min à pied du centre ville et à proximité immédiate des monuments, des restaurants et des boutiques de prestige, l'Hotel de Champagne vous accueille toute l'année, 24h/24.<br />
	<br />
	34 Avenue Denis Papin<br />
	49100 Angers, France<br />
	Tél : 02 41 25 78 78<br /> 
	Fax : 02 41 25 78 79 <br />
	Email : <a href="mailto:hotel.champagne@orange.fr">hotel.champagne@orange.fr</a><br />
	Site internet : <a href="http://hoteldechampagne.com">hoteldechampagne.com</a><br /></li>
	
	<li><span class='emphase'>Hôtel Saint Julien (8.4km de Belle Poule)</span><br />
	2 étoiles<br />
	Au coeur de la ville, sur la place principale d'Angers, Sylvie, Arnaud et son équipe se feront un plaisir de vous recevoir dans cet hôtel familial aux chambres spacieuses et confortables. Chambre simple 53€ et Chambre double 61€<br />
	<br />
	9 Place du Ralliement<br />
	49100 Angers, France<br />
	Tél : 02 41 88 41 62<br /> 
	Email : <a href="mailto:hotelsaintjulien@wanadoo.fr">hotelsaintjulien@wanadoo.fr</a><br />
	Site internet : <a href="http://hotelsaintjulien.com">hotelsaintjulien.com</a><br /></li>
	
	<li><span class='emphase'>Hotel Ibis Angers Centre (8.6km de Belle Poule)</span><br />
	2 étoiles<br />
	Ibis, des hôtels comme on les aime.<br />
	<br />
	Rue de la Poissonnerie<br />
	49100 Angers, France<br />
	Tél : 02 41 86 15 15<br /> 
	Fax : 02 41 87 10 41 <br />
	Email : <a href="mailto:h0848@accor.com">h0848@accor.com</a><br />
	Site internet : <a href="http://www.accorhotels.com/fr/hotel-0848-ibis-angers-centre/index.shtml">accorhotels.com/accorhotels...</a><br /></li>
	
	<li><span class='emphase'>HOTEL MOLIERE ANGERS (8.7km de Belle Poule)</span><br />
	1 ou 2 personne(s) 1 grand lit 41,50€ WC commun / 51,50€ WC privé<br />
	2, 3, 4 personnes 2 grands lits 51,50€ WC commun / 60,00€ WC privé<br />
	2 à 5 personnes Chambre familial 90,00€ / 2 salle de douche & 2 wc privé<br />
	<br />
	2 Rue de la Roë<br />
	49100 Angers, France<br />
	Tél : 02 41 87 70 03<br />
	Site internet : <a href="http://hotel-moliere.net">hotel-moliere.net</a><br /></li>
	
	<li><span class='emphase'>Hôtel de Loire (9.1km de Belle Poule)</span><br />
	3 étoiles<br />
	Attenant au restaurant Les Bateliers<br />
	<br />
	328 Rue Jean Jaurès<br />
	49800 Trélazé, France<br />
	Tél : 02 41 818 918 <br />
	Fax : 02 41 818 920 <br />
	Email : <a href="mailto:bateliers@hoteldeloire.com">bateliers@hoteldeloire.com</a><br /></li>
	
	<li><span class='emphase'>DUBOIS GERARD (9.1km de Belle Poule)</span><br />
	3 étoiles<br />
	Un appartement contemporain dans un quartier historique au bord de la Maine et en centre ville.<br />
	<br />
	5 Avenue des Arts et Métiers<br />
	49100 Angers, France<br />
	Tél : 06 80 98 37 52<br />
	Email : <a href="mailto:gerdub49@orange.fr">gerdub49@orange.fr</a><br /></li>
	
	<li><span class='emphase'>	Hotel Formule 1 Angers sud (9.5km de Belle Poule)</span><br />
	A partir de 32€<br />
	<br />
	Rue du Chêne vert, Parc d'activités Angers St Barth<br />
	49124 Saint Barthelemy D'Anjou, France<br />
	Tel. (+33)891705161<br />
	Fax. (+33)241347214<br />
	Site internet : <a href="http://www.accorhotels.com/fr/hotel-2308-formule-1-hotelf1-angers-sud/index.shtml">accorhotels.com/accorhotels...</a><br /></li>
	
	<li><span class='emphase'>LA COUR (9.6km de Belle Poule)</span><br />
	3 étoiles<br />
	Charmant studio dans quartier historique calme, avec poutres et pierres apparentes, proche centre ville.<br />
	<br />
	6 Rue de la Bouteille<br />
	49100 Angers, France<br />
	Tél : 02 41 87 31 80<br />
	Email : <a href="mailto:eric@angersgite.com">eric@angersgite.com</a><br /></li>
	
	<li><span class='emphase'>Gîte La Pointerolle (10.8km de Belle Poule)</span><br />
	3 étoiles<br />
	Gîte de charme pour deux en pleine nature, à 10 minutes d'Angers.<br />
	<br />
	Chemin des Landes<br />
	49800 Trélazé, France<br />
	Port : 06 47 03 38 20<br />
	Tél : 02 41 57 15 54<br />
	Site internet : <a href="http://gite-pointerolle.fr">gite-pointerolle.fr</a><br /></li>
	
	<li><span class='emphase'>Le Rabelais (10.1km de Belle Poule)</span><br />
	Le plaisir de rêve sur les bords de la Maine... Ay dessus du restaurant Le Rabelais<br />
	<br />
	17 Rue Chevrière<br />
	49080 Bouchemaine, France<br />
	Tél : 02 41 77 10 51<br />
	Fax : 02 41 77 19 14 <br />
	Email : <a href="mailto:rabelais@nerim.net">rabelais@nerim.net</a><br />
	Site internet : <a href="http://www.hotel-restaurant-lerabelais.com/">hotel-restaurant-lerabelais...</a><br /></li>
	
	<li><span class='emphase'>Résidence Alizée (11.1km de Belle Poule)</span><br />
	7 Rue de Haarlem<br />
	49100 Angers, France<br />
	Tél : 02 41 43 70 90<br />
	Fax : 02 41 43 09 87 <br />
	Email : <a href="mailto:alizes@a2habitatjeunes.fr">alizes@a2habitatjeunes.fr</a><br /></li>
	
	<li><span class='emphase'>Hôtel des Plantes (11.2km de Belle Poule)</span><br />
	2 étoiles<br />
	A proximité du Centre-ville et du Centre des Congrès, nous vous réservons dans notre hôtel familial un séjour agréable et confortable.<br />
	<br />
	12 Rue Savary, City Center<br />
	49100 Angers, France<br />
	Tél : 02 41 88 27 54<br /> 
	Fax : 02 41 86 13 72 <br />
	Email : <a href="mailto:hoteldesplantes@orange.fr">hoteldesplantes@orange.fr</a><br />
	Site internet : <a href="http://hoteldesplantes.com">hoteldesplantes.com</a><br /></li>
	
	<li><span class='emphase'>Hotel Mercure Angers Lac de Maine (11.7km de Belle Poule)</span><br />
	3 étoiles<br />
	En voyages d'affaires ou d'agrément, venez découvrir l'hôtel Mercure Angers Lac de Maine entièrement rénové. Venez apprécier l'ambiance chaleureuse, naturelle et reposante de ses 77 chambres, de son restaurant Le Diffen et de son bar El Patio. La terrasse El Patio vous accueillera pour un moment privilégié et convivial autour d'un repas ou d'un verre. Wifi gratuit.<br />
	<br />
	2 Allée du Grand Launay<br />
	49000 Angers, France<br />
	Tél : 02 41 48 02 12<br />
	Fax : 02 41 48 57 51<br /> 
	Email : <a href="mailto:h1212@accor.com">h1212@accor.com</a><br />
	Site internet : <a href="http://www.accorhotels.com/fr/hotel-1212-mercure-angers-lac-de-maine/index.shtml">accorhotels.com/accorhotels...</a><br /></li>
	
	<li><span class='emphase'>Gîte Chemin des Chalets (12.2km de Belle Poule)</span><br />
	2 étoiles<br />
	<br />
	MME GOYER SYLVIE<br /> 
	CHEMIN DES CHALETS <br />
	49100 ANGERS <br />
	Tél : 02 41 73 84 19<br /> 
	Email : <a href="mailto:sylvie.goyer@akeonet.com">sylvie.goyer@akeonet.com</a><br /></li>
	
	<li><span class='emphase'>Ethic Etapes lac de maine (12.3km de Belle Poule)</span><br />
	Le moins cher et le plus de place, le coup de coeur des mariés<br />
	<br />
	49 avenue du lac de maine<br />
	49000 angers, France<br />
	Tél : 02 41 22 32 10 <br />
	Fax : 02 41 22 32 11 <br />
	Email : <a href="mailto:infos@lacdemaine.fr">infos@lacdemaine.fr</a><br />
	Site internet : <a href="http://ethic-etapes-angers.fr">ethic-etapes-angers.fr</a><br /></li>
	
	<li><span class='emphase'>CHAMBRE D'HOTES - LE CLOS DU MEUNIER (14.5km de Belle Poule)</span><br />
	Gîte de France, 3 épis<br />
	Idéalement située, sur les hauteurs de Bouchemaine, cette maison du XIXème, vous propose des chambres où vous vous reposerez dans un site calme et verdoyant.<br />
	<br />
	Simon Xavier<br />
	24 Rue des Moulins<br />
	49080 Bouchemaine, France<br />
	Tél : 02 41 73 27 23<br />
	Email : <a href ="mailto:sxfamily.simon@wanadoo.fr">sxfamily.simon@wanadoo.fr</a><br /></li>
	
	<li><span class='emphase'>BOUCHER AGNÈS (14.6km de Belle Poule)</span><br />
	Gîte de France, 2 épis<br />
	Aux portes d'Angers et proche du Lac de Maine, Agnès et Jo vous accueillent dans leur maison contemporaine « les 3 chênes » et proposent 2 chambres à l'étage : Ch. « Jonquille » 1 lit 140 et Ch. « Lavande » 1 lit 140 - Sanitaires privatifs à chaque chambre. Jardin paysagé et fleuri. Site très calme. Taxe de séjour incluse.<br />
	<br />
	6 rue de la Rouvraie <br />
	49080 BOUCHEMAINE <br />
	Tél : 02.41.48.16.10 <br />
	Email : <a href="mailto:joseph.boucher49@orange.fr">joseph.boucher49@orange.fr</a><br /></li>
	
	<li><span class='emphase'>	Fasthotel (14.7km de Belle Poule)</span><br />
	Chambre 1 ou 2 pers. : 40 € <br />
	Chambre lits séparés : 43 € <br />
	Soirée étape (hors boisson) : 58 €<br />
	Petit déjeuner (buffet) : 5.50 €<br />
	Distributeur de clés 24h/24 par carte bancaire en dehors des heures de réception de l'hôtel.<br />
	<br />
	Contact : Marie-Françoise et Dominique LAUBIER<br />
	Centre d'Activité du Pin<br />
	49070 Beaucouzé, France<br />
	Tel.: +33 (0)2 41 73 22 12<br />
	Fax: +33 (0)2 41 73 22 80<br />
	E-mail : <a href="mailto:angers@fasthotel.com">angers@fasthotel.com</a><br />
	Site internet : <a href="http://angers.fasthotel.com">angers.fasthotel.com</a><br />
	Ou bien <a href="http://www.3y.fr/angers">http://www.3y.fr/angers</a><br /></li>
	
	<li><span class='emphase'>Hôtel Campanile Angers Ouest - Beaucouzé (16.1km de Belle Poule)</span><br />
	Chambre à partir de 45€<br />
	<br />
	Avenue Paul-Prosper Guilhem<br />
	49070 Beaucouzé, France<br />
	Tél : +33 2 41 36 06 60<br />
	Email : <a href="mailto:angers.beaucouze@campanile.fr">angers.beaucouze@campanile.fr</a><br />
	Site internet : <a href="http://www.campanile-angers-ouest-beaucouze.fr/fr/index.aspx">campanile-angers-ouest-beau...</a><br /></li>
	
	<li><span class='emphase'>Le castel hotel (17.3km de Belle Poule)</span><br />
	2 étoiles<br />
	Chambre de 45 à 77 euros<br />
	<br />
	7 Rue de Haarlem<br />
	49100 Angers, France<br />
	Tél.: 02.41.91.24.74<br />
	Fax: 02.41.91.71.55<br />
	Mail: <a href="mailto:info@hotel-lecastel.com">info@hotel-lecastel.com</a><br />
	Site internet : <a href="http://hotel-lecastel.com">hotel-lecastel.com</a><br /></li>
</ul>