<h2>Où dormir ?</h2>

<p>Si vous-même habitez dans la région, et que vous avez l’envie et la place pour héberger d’autres invités, n’hésitez pas à nous le faire savoir !</p>

<p>N’oubliez pas qu’il est également possible de planter librement sa propre tente dans le champs à côté de la salle ou de venir avec son camping-car pour les plus équipés, voir même d’apporter matelas et duvet pour dormir dans la salle…. Un belle façon de combiner tous les avantages : boire pendant la fête (raisonnablement !), ne pas conduire fatigué, et économiser du carburant…</p>

<p>Mais tout de même, voici une liste non exhaustive des hébergements possibles dans la région. N'hésitez pas à rester un peu plus longtemps pour profiter de la région, les bords de Loire sont vraiment magnifiques !</p>

<iframe width="485" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.fr/maps/ms?ie=UTF8&amp;hl=fr&amp;msa=0&amp;msid=100943581267131613260.0004817180ecf4b438661&amp;ll=47.423434,-0.540648&amp;spn=0.162598,0.291824&amp;z=11&amp;output=embed"></iframe><br /><small>Afficher <a href="http://maps.google.fr/maps/ms?ie=UTF8&amp;hl=fr&amp;msa=0&amp;msid=100943581267131613260.0004817180ecf4b438661&amp;ll=47.423434,-0.540648&amp;spn=0.162598,0.291824&amp;z=11&amp;source=embed" style="color:#0000FF;text-align:left">Hebergement mariage</a> sur une carte plus grande</small>

<ul>
	<li><span class='emphase'>Chateau de Belle Poule</span><br />
	Là c'est le lieux du mariage.</li>
	
	
	<li><span class='emphase'>Soulard Jean-Claude</span><br />
	200m,<br />
	Email : soulardjc@cegetel.net<br />
	A 8 kms d'Angers, le gîte de l'Ile Marière, est une ancienne ferme chanvrière située en bordure de Loire, accessible par la levée de Belle Poule, interdite aux véhicules automobiles, réservée aux riverains (circuit : Loire à vélo) depuis les Ponts de Cé vers Saumur. Ce site protégé est classé NATURA 2000. Cette maison rurale, de caractère, a été construite en 1814 à la fin du 1er Empire. Elle propose 4 ch. en rez de chaussée, avec accès terrasses. Location annuelle sur le chemin d'accès (sous réserve de risque de crue à titre exceptionnel entre novembre et avril).<br />
	Soulard Jean-Claude<br />
	Levée de Belle Poule<br />
	49130 Ponts de Cé (Les), France<br />
	02 41 47 21 64</li>

	<li><span class='emphase'>Gîte Les Humeaux (25km de Belle Poule)</span><br />
		Impasse des moineaux, 49378 Cholet - 02 43 94 48 37<br />
		45€ en chambre double</li>
</ul>